<div class="grid text-center">

  <div class="g-col-6 g-col-md-4">Credit Cards
    {{! Info to display }}
    <button type="button" class="btn btn-success">Add a new credit card</button>
  </div>

  <div class="g-col-6 g-col-md-4">Bills
    {{! Info to display }}
    <button type="button" class="btn btn-success">Add a new bill</button>
  </div>

  <div class="g-col-6 g-col-md-4">Payments
    {{! Info to display }}
    <button type="button" class="btn btn-success">Add a new payment</button>
  </div>
  
</div>

{{!--
<script src="/js/loginScript.js"></script> --}}


{{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}