{{#with user}}
<h2>Bills</h2>
<a href="/bill/new" class="btn btn-success mt-3 w-100">Add a new bill</a>
<ol class="list-group list-group-flush">
  {{#each bills}}
  <li class="list-group-item py-3">
      {{> billDetails}}
  </li>
  {{/each}}
</ol>
{{/with}}
<div id="paymentModal" class="modal" aria-hidden="true" aria-labelledby="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Payment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="makePaymentBillInfo"></p>
        <input id="billIdHidden" type="hidden">
        <form>
          <div class="mb-3">
            <label for="makePaymentAmount" class="form-label">Amount:</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input id="paymentAmount" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
          </div>
          <p id="paymentFormFeedback" class="form-text"></p>
          <button id="paymentSubmitButton" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/paymentModalScript.js"></script>

<div id="scheduleReminderModal" class="modal" aria-hidden="true" aria-labelledby="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Schedule Reminder</h1>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="reminderModalDueDate"></p>
        <input id="reminderBillIdHidden" type="hidden">
        <form>
          <div class="mb-3">
            <label for="reminderDatePicker" class="form-label">Remind me on:</label>
            <input id="reminderDatePicker" type="date" class="form-control">
          </div>
          <p id="reminderFormFeedback" class="form-text"></p>
          <button id="reminderSubmitButton" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/reminderModalScript.js"></script>