<div class="cont-login">
<div class="container">
    <div class="col align-self-center">
        <form>
            <h2>Log in as an existing user</h2>
            <div class="my-3">
                <label for="loginUsername" class="form-label">User name:</label>
                <input id="loginUsername" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password:</label>
                <input id="loginPassword" type="password" class="form-control">
            </div>
            <div class="mb-3">
                <button id="loginSubmit" type="submit" class="btn">Log In</button>
            </div>
            <p id="loginFormFeedback" class="form-text"></p>
        </form>
    </div>
</div>
    <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6" id="btn-register-box">
    <a href="/register" class="btn" id="btn-register">Not registered yet?  Do that here!</a>
    </div>
</div>
</div>

<script src="/js/loginScript.js"></script>