
<div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6" id="paymentFilterContainer">
   <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
      <h2 id="picker-date">Payment History</h2>
      {{#each payments}}
          <div class="col">
            <p>Your last payment for {{bill.description}} was for ${{this.paid_amount}} on {{ this.payment_date}}</p>
          </div>
      {{/each}}
    </div>
      <button type="button" class="btn btn-success">Add a new payment</button>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/filterScript.js"></script> 


{{!-- https://getbootstrap.com/docs/5.3/layout/css-grid/ --}}


{{!-- for the date picker
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function (start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
</script>

https://www.daterangepicker.com/#usage --}}