/* Custom CSS styles */


img {
  /* Your existing blue color for images */
  filter: brightness(120%);
}

:root {
  --color-box: #c5bdbd; /* Declare the variable and assign a value */
}

p {
  font-size: 16px;
}
body {
  font-family: 'Share Tech', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: #f8f9fa;
    width: max-content;
  
  
  }
  
  header h1 {
    margin: 0;
    font-weight: bold;
    margin: 20px;
    font-size: 50px;
    /* background: #1626FC; */
    background: linear-gradient(to right, #1626FC 20%, #CF480E 78%);
    -webkit-background-clip: text;
    -moz-background-clip: text; /* Firefox */
    -ms-background-clip: text; /* Internet Explorer */
    -o-background-clip: text; /* Opera */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  header .btn {
    margin-left: 10px;
  }
  
  main {
    padding-top: 20px;
  }

  .container {
    margin: 0 auto;
    background-color: white;
    /* padding: 10px; */
    border-color: gray;
    border-radius: 5px;
  
    
  }

  .cont-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .container-payments{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .p-4{
    padding: 0!important;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
   h4 {
    margin: 10px;
    font-weight: bold;
    /* background: #1626FC; */
    background: linear-gradient(to right, #8e93dd 20%, #df997a 78%);
    -webkit-background-clip: text;
    -moz-background-clip: text; /* Firefox */
    -ms-background-clip: text; /* Internet Explorer */
    -o-background-clip: text; /* Opera */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  h5 {
    font-style: oblique;
    text-decoration:underline
  }
  nav {
    display: flex;
    margin: 5px;
  }
  nav-links {
    gap: 10px;
  }
  
  nav a {
    color: rgb(6, 6, 6)!important;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-size: 18px;
  }
  
  nav a:hover {
    background-color: blue!important;
    font-size: 18px;
    color: white!important;
  }

  nav a:active {
  
    font-size: 15px;
  }

  .navBtn {
    display: flex;
    list-style: none;
  }

 
  
  .row {
    justify-content: space-evenly;
  }

  .col {
    display: flex;
    justify-content: space-evenly;
  }

  #btn-register-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn:hover {
    background-color: blue!important;
    color: white!important;
  
   
  }

  .btn {
    background-color: rgb(221, 182, 127)!important;
    transition: font-size 0.3s ease;
  }

  .btn:active {
    font-size: 14px!important;
  }

  /* h2 h3{
    color: rgb(35, 35, 74);
    padding: 10px;
    border-radius: 5px;
  } */

  #logoutButton{
    background-color: rgb(237, 106, 76)!important;
  }
  form {
   
    margin: 0 auto;
    padding: 20px;
    background-color: #dbd8d8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .bills {
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }

  .new-bill {
    width: 50%;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 40px;
    /* background: #1626FC; */
    background: linear-gradient(to right, #1626FC 20%, #CF480E 78%);
    -webkit-background-clip: text;
    -moz-background-clip: text; /* Firefox */
    -ms-background-clip: text; /* Internet Explorer */
    -o-background-clip: text; /* Opera */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
  }

  .list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
   
  }

  .py-3 {
    margin-bottom: 10px;
  }

  .list-group2 {
    display: flex;
    flex-direction: column-reverse;
  }

  /* #edit-btn {
    margin-left: 17px;
  } */

  #btn-new-bill{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }


  .list-group-item {
    background-color: var(--color-box);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .list-group-item+.list-group-item {
    border-width: 0.741px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }


  .form-filter {
    background-color: #f2f2f2;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: baseline;
    width: fit-content;
  }
  
  .form-input-filter {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: white;
  }

  .filter-box{
    display: flex;
  }

  .btn-filter-box{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
  }

  /* .p-4{
    display: flex;
    justify-content: center;
  } */

  .btn-set-add {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .btn-success {
    margin: 5px;
  }

  .btn {
    color: black!important;
  }


  .list-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}
  .p-up-payments{
  background-color: var(--color-box);
  padding: 5px;
  font-size: 17px;
  width: max-content;
  }

  .payments-box1 {
    margin-right: 150px;
  }

  .payments-box2 {
    margin-left: 150px;
  }

  #user-id{
    display: none;
  }

  #payment-filter-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }

  .picker-d {
    width: max-content;
    margin: 0px;
    background: linear-gradient(to right, #1626FC 20%, #CF480E 78%);
    -webkit-background-clip: text;
    -moz-background-clip: text; /* Firefox */
    -ms-background-clip: text; /* Internet Explorer */
    -o-background-clip: text; /* Opera */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .input-icon {
    position: relative;
  }
  
  .input-icon input {
    padding-right: 30px; /* Adjust this value to make room for the icon */
  }
  
  .input-icon i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  #from, #to {
    margin: 0;
    padding-bottom: 8px;
  }

  #to1 {
    margin-left:5px;
  }
  
  .h23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  


   

  @media (max-width: 750px) {
  .list-group1{
    flex-direction: column;
  }
  .payments-box1 {
    margin:40px 0px 0px 0px;
  }

  .payments-box2{
    margin:60px 0px 0px 0px;
  }

  #id-user{
    text-align: center;
  }
  }

  